.floatingflexbox {
  display: flex;
  align-items: center;
}

.centercontent {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

img.marginonright {
  margin: 0px 5px 0px 0px;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Start CSS gallery elements. */

div.galleryinner img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 1px;
  text-align: center;
  font-size: smaller;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

.galleryouter2 {
  padding: 0 3px;
  float: left;
  width: 49.99%;
}

@media only screen and (max-width: 700px) {
  .galleryouter2 {
    width: 49.99%;
    margin: 3px 0;
  }
}

@media only screen and (max-width: 500px) {
  .galleryouter2 {
    width: 100%;
  }
}

.galleryouter3 {
  padding: 0 3px;
  float: left;
  width: 33.32%;
}

@media only screen and (max-width: 700px) {
  .galleryouter3 {
    width: 33.32%;
    margin: 3px 0;
  }
}

@media only screen and (max-width: 500px) {
  .galleryouter3 {
    width: 100%;
  }
}

.galleryouter4 {
  padding: 0 3px;
  float: left;
  width: 24.99%;
}

@media only screen and (max-width: 700px) {
  .galleryouter4 {
    width: 24.99%;
    margin: 3px 0;
  }
}

@media only screen and (max-width: 500px) {
  .galleryouter4 {
    width: 100%;
  }
}

.endgallery:after {
  content: "";
  display: table;
  clear: both;
}

/* End CSS gallery elements. */
