.floatingflexbox {
  display: flex;
  align-items: center;
}

.centercontent {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

img.marginonright {
  margin: 0px 5px 0px 0px;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallerycontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryinner {
  display: inline-block;
}