.floatingflexbox {
  display: flex;
  align-items: center;
}

.centercontent {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

img.marginonright {
  margin: 0px 5px 0px 0px;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Start CSS gallery elements. */

div.gallery {
  border: 1px solid gray;
}

div.gallery:hover {
  border: 1px solid black;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 5px;
  text-align: center;
  font-size: smaller;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 3px;
  float: left;
  width: 49.99%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99%;
    margin: 3px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* End CSS gallery elements. */
